__pycache__/
testdata.txt
roomphoto/
migrations/
RoomOrderbackend/wxappsetting.json
RoomOrderbackend/test.py
uploadstatic

.DS_Store
node_modules
webformanager/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?